
@import 'apprise-frontend/common.scss';


.apppage, .appheader {

    background: $sidebar-panel-background !important;
}

.appbanner {
    margin-top: 2px; 
}

.apppage {

    align-items: center;

    .applogo {
        
        color: $darktheme_color_emphasis;
        font-variant-caps: small-caps;

        margin-top:5%;
 
    }

    .appbanner {

        margin-top:auto;
        display:flex;
        align-items: center;

        i {
                
            font-size:80px
        }

        .icon-halo {

            background: #3c4045;
            padding: 30px;
            margin: 0 30px;
            border-radius: 70px;
            color: #9ec9ce;

            &:hover {
                transform: scale(1.02);
                color: #bfcacb;
            
            }
        }


    }


    .apptitle {     

        color: $darktheme_color_emphasis;
  
        margin-top:30px;
        margin-bottom: 10%;

        font-size:60px !important;
        font-weight: 100px;

    }

}                     

