@import 'apprise-frontend/common.scss';

.help-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    font-weight: 300;

    .explainer {
        font-size: 18px;
        font-weight: 400;
    }
    .help-actions {
        min-width: 90%;

        .help-blurb {
            background: #f5f5f5;
            border-radius: 4px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            width: 100%;

            .blurb-title {
                font-size: 24px;
                font-weight: 300;
                margin-bottom: 10px;
            }

            .blurb-explainer {
                font-style: italic;
            }

            .blurb-action {
                margin-top: 20px;
            }
        }
    }
}